<h2>Structural Directives changes the structure of DOM element</h2>
<div class="container">
    <div class="btn btn-info">
      <div 
        class="panel-heading" 
        (click)="opened = !opened">
       <h1> If you want body content then CLICK  </h1>
      </div>
    </div>
      <div id= box
        class="panel-body" 
        *ngIf="opened"><h2>{{body}}</h2></div>
    
    <div class="panel-body" id=box
    *ngIf="!opened"><h2>{{title}}</h2></div>
  </div>

  <h2>Using selector of as-repeat directive and insert an instance of the directive class where it finds that tag</h2>
<div class="container">
    <div *appAsRepeat="5; let i = index">
      <table>
        <tr>
        <th>Index</th>
        <th>Index + 2</th>
        <th>Index + 3</th> </tr>
        <tr>
      <td>   {{i}}   </td> 
      <td>   {{i+2}} </td>
      <td>   {{i+3}} </td>
       </tr>        
      </table>
      </div>
    </div>

    
<h2>Click on any host element, you want to show an alert with the information of which element you clicked...</h2>
<ul id="parent-list" appClickCatcher>
   <h2><li id="Item-1">Item 1</li>
    <li id="Item-2">Item 2</li>
    <li id="Item-3">Item 3</li>
    <li id="Item-4">Item 4</li>
    <li id="Item-5">Item 5</li>
    <li id="Item-6">Item 6</li></h2>
  </ul>





















